# Example: https://dev-12345678.okta.com/oauth2/default
OKTA_ISSUER=https://dev-ssiyadri.us.auth0.com/oauth2/default
OKTA_CLIENT_ID=BRFWnBIGccJhr9Z753CI8uWWop5sbVNi
OKTA_CLIENT_SECRET=-aCHmbRvoBOFf5eIwFkkQInNRX4T-RtNQYrjjjQ3m2aq48g-4AYEUcMEWonIOO3U
APP_BASE_URL=http://localhost:3000
SESSION_SECRET=this-is-for-local-testing-only
PORT=3000
